__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
.venv/
venv/

# Logs
*.log

# Python virtual env
.python-version

# Arch package build
src/
pkg/
*.pkg.tar.*
makepkg.log